/*
To align the work experience bullets to the left
*/
ul {
    list-style-position: outside;
    text-align:left;
}

p {
    text-align: left;
}

/*Formatting to highlight specific experiences*/
.highlight{
    background-color: yellow;
}

/*
To make the current status more prominent
*/
.currentStatus {
    font-size:25px;
    font-weight: bold;
    text-shadow: 1px 1px green;
    
}