/*
To align the work experience bullets to the left
*/
ul {
    list-style-position: outside;
    text-align:left;
}

/*To align paragraph text to the left*/
p {
    text-align: left;
}

/*Formatting to highlight specific experiences. Used as part of my custom/unique feature*/
.highlight{
    background-color: yellow;
}

